 /* reset */
 body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:#000000;
    font-size: 16px;
    line-height: 24px;
}
/* LOGO */
.logo{
  width: 198.07px;
  height: 59px;
}

/* Nav bar */
.nav-link{
color: #000000;
}

/* button background */
.green-capsule-bg{
  background-color: #21B573;
  line-height: 19px;
}

.header-wrapper{
  height: 576px;
  background-color: #F0FFF0;
}

.orange-texts{
  color: #FD511A;
}

.green-texts{
  color: #21B573;
}

.head-texts{
  font-size: 48px;
  line-height: 70px;
  letter-spacing: 1px;
}

.gray-texts{
  color: #6C6B6B;
}

.statistics,.course{
  margin-right: 0px;
  margin-left: 0px;
}

.statistics .card{
  border:none;
  border-radius: 10px;
  padding: 5% 1% 3% 1%;
  background-color: #F8FFFB;
}
.statistics .card:hover{
  box-shadow: 3px 3px 20px 0px rgba(112,112,112,0.25);
  background-color: #FFF;
}

.card h5, .instructor h4{
  font-size: 24px;
  line-height: 36px;
  color: #413960;
}

.course .card{
  border:none;
  border-radius: 10px;
  padding: 4% 3% 5% 3%;
  box-shadow: 3px 3px 20px 0px rgba(112,112,112,0.25);
  background-color: #FFF;
}

.course .card-body{
  padding-left: 0;
  padding-right: 0;
}

.card-footer-texts{
  font-weight: 500;
}

.card-footer-img{
  height: 24px;
  width: 24px;
}

.section-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.client-img{
   height: 120px;
   width: 120px;
}

.client-review{
  width: 60%;
}

.footer-wrapper{
  background-color: #282531;
  line-height: 30px;
  font-size: 16px;
}

.footer-main ul li{
   list-style: none;
}

.footer-main ul li a{
  text-decoration: none;
  pointer-events: none;
  color:#fff;
}

.list-head{
  font-size: 18px;
  font-weight: bold;
}

.p-width{
  width: 85%;
}

.copyright small{
  color: #CDCDCD;
  font-size: 16px;
  line-height: 30px;
}

/* RESPONSIVE ISSUES */

@media screen and (min-width: 992px) and (max-width:1170px){

  .header-wrapper .container{
    padding-left: 3%;
    padding-right: 3%;
  }
  .head-texts{
    font-size: 32px;
    line-height: 48px;
  }

  .card h5, .instructors h4{
    font-size: 16px;
    line-height: 24px;
  }
 .instructors h5{
   font-size: 16px;
   line-height: 20px;
 }
  
  }


  @media screen and (max-width: 768px){


    .head-texts{
      font-size: 24px;
      line-height: 36px;
    }

    .head-content button, .course button{
      width: 160px;
    }
    .header-wrapper {
      height: 530px;
    }

    .card h5, .instructors h4{
      font-size: 16px;
      line-height: 24px;
    }

    .course{
      text-align: center;
    }

    .footer-card{
      display: inline-block;
    }

    .statistics .card{
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
  
  .direction{
    flex-direction: column;
  }

  .instructors h5{
    font-size: 16px;
    line-height: 20px;
  }
    
    }


    @media screen and (max-width: 480px){
      .header-wrapper {
        height: 750px;
      }
      .head-texts{
        font-size: 24px;
        line-height: 36px;
      }
      .img-head{
        margin-top: 10%;
      }

      .statistics .col-md-3{
        margin-top: 10%;
      }

      .instructors .col-md-3{
        margin-top: 10%;
      }

      .instructors .col-md-3 img{
        margin-top: 5%;
        max-width: 50%;
      }

      .instructors .section-title p{
        margin-bottom: -60px;
      }

      .card h5, .instructor h4{
        font-size: 24px;
        line-height: 36px;
      }


    .box{
        flex-direction: column;
      }
    .client-review{
      text-align: center;
      margin-left: 0!important;
    }
    .p-width{
      width: 100%;
      padding-left: 10%;
    }    

    }



